*{
  box-sizing: border-box;
}
body{
  background-color: #fff8dc;
}
.sign{
  outline: lightblue solid 4px;
  transform:scale(1.01);
  background-color: white;
}
div{
  scroll-behavior: smooth;
}

div.messages-container::-webkit-scrollbar {
  width: 5px;
}

div.messages-container::-webkit-scrollbar-track {
  background: #fff8dc;
}

div.messages-container::-webkit-scrollbar-thumb {
  background: #4682b4;
}
input.white-placeholder::placeholder{
color: white;
}
.google-btn:hover{
  background-color: rgba(250, 249, 248,0.8);
}
textarea:focus, input:focus, button:focus{
  outline: none;
} 
.pageTitle{
  text-align:center;
  font-size: 9vw;
}
.collectionlist-container{
  box-sizing: border-box;
  padding : 20px 20px;  
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  width: 90vw;
  margin: 0px 5vw 10px 5vw;
}
.hr{
  margin-top: 0%;
  margin-bottom: 0%;
  border-top:solid 2px #6395ec;
  width:50%;
}